@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
}
.nav-link
{
    color: #87909E;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', normal;
    padding: 0 8px;
}

.custom-sizing
{
    margin: 6% 5% 0 12%;
    width: 75%;
}

.active{
    color: #0c63ff;
}

.lead{
    font-size: 20px;
    line-height: 27px;
}

.fw-bold{
    font-weight: 600;
    margin: 0px 0px 20px;
}

.make-fit
{
    width: 100%;
    padding: 0 100px;
}

.nav-link:hover
{
    color: #0c63ff;
}

.text-white
{
    text-align: center;
}

.custom-brand
{
    line-height: 2.5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1.5rem;
    margin: 0;
}

.navbar
{
    padding: 0 1rem;
}

.col-md-12
{
    padding-right: 0;
}

.background
{
    overflow: hidden;
}


.mb-4{
    margin-top: 5.25rem;
    background-color: #0c63ff !important;
    height: 24rem;
}

h3
{
    font-size: 28px;
    line-height: 37.8px;
    font-weight: 600;
    text-align: left;
    color:#30343b
}

.holder
{
    padding-top: 5.20rem !important;
    padding-bottom: 6.25rem !important
}

.description
{
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color:#87909e;
}

#link
{
    color:#0c63ff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid #0c63ff;
}

#link:hover
{
    text-decoration: none;
    color: #0da6ff;
}

.custom-padding
{
    padding-top: 3.125rem !important;
    padding-bottom: 3.125rem !important;
}

.sr-footer-01 .row.sr-spacer-bottom-50 
{
    margin-bottom: 2rem;
    border-bottom: 1px solid #ebebeb;
}

.sr-spacer-bottom-50 
{
    padding-bottom: 3.125rem;
}

.social 
{
    list-style: none;
    padding-left: 0;
}

.sr-spacer-top-25 
{
    padding-top: 1.5625rem;
}


ul.social li 
{
    display: inline-block;
    font-size: 1.3em;
    padding: 6px;
}

ul.social li i
{
    color:#87909e
}

.active-branch
{
    list-style: none;
    display: flex;
    margin: 0 -15px;
    padding: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.dropdown-item
{
    color: #87909e;
    font-size: 14.4px;
    line-height: 20px;
    font-weight: 400;
}

.dropdown-item:hover
{
    color: #0c63ff;
    background-color: white;
}

.dropdown-menu
{
    border-top: 2px solid #0c63ff;
}

.dropdown-menu:hover
{
    visibility: visible;
}

.sr-spacer-bottom-50
{
    margin-bottom: 2rem;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 3.125rem;
}

.hs-menu-depth-1 
{
    width: 50%;
    margin-bottom: 2rem;
    color: #000 !important;
    font-size: 1rem;
    font-weight: 600 !important;
}

.hs-menu-depth-1:first-child 
{
    padding-left: 0;
    width: auto;
    margin-bottom: 0
}

.hs-menu-depth-2
{
    list-style: none;
}


